cacm.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition (Trial) 13.2.2.6003 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="document" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                            <xs:element name="title" minOccurs="0" />
                            <xs:element name="abstract" minOccurs="0" />
                            <xs:element name="conference" minOccurs="0" />
                            <xs:element name="authors" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="author" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="keywords" minOccurs="0" />
                            <xs:element name="version" minOccurs="0" />
                            <xs:element name="location" minOccurs="0" />
                            <xs:element name="citations" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="citation" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
